@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
.filter{
 /* position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0; */
 z-index: 1;
 background: white;

opacity: .1;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 70%;
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;


}
th{
 background-color: white;
 color: black;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
 width: 5%;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Times new';
}
tr:nth-child(even){
 background-color: #eeeeee;
}
