.for{
    position: absolute;
    width: 34%;
   
    transform: translate(-50,-50);
    top: 250px;
    left: 410px;
    right: 25%;
    
  padding: 25px 24px 20px 20px;
    background-color:rgba(255, 255, 255, 0.694) ;
    opacity: 0.7;
    box-shadow: 2px 2px 5px  black;
    border-radius: 0px;
 opacity: 0.9;

}
.img1{
    height: 300px;
    width: 300px;
    margin-left: 20%;
    margin-top: -3%;
}
header{

}

.head{
      
    height: 77px;
     
width: 100%;
    display: flex;
    justify-content: center;
box-shadow: 0px 1px 1px  black; 


}
h3{
 
    margin: 15px;
    
    color: green;
}
 
.bor{

    border:  solid 2px rgb(11, 98, 11);
    opacity: 1;
}
.but{

    background: #174b03;
    color: white;
    width: 30%;
    padding: 10px;

}
input{
    height: 25px;
    width: 99%;
}

label{
    color:black;
}
span{
width: 100%;
    display:   inline-flex;
    
}
.div{
    margin: 15px 0px 10px 0px;
    width: 100%;
 
}

.buton1{
    color: black;
    background-color:white ;
    height: 10%;
    width:10% ;
}