




nav  {
  position: fixed;
  top: 0;
  left: 22px;
  width: 95%;
  height: 80PX;
  padding: 0.5px 0.5px;
  box-sizing: border-box;
  background:rgba(rgb);
  border-bottom: 1px solid #e0ede2;
  max-width: 12000px;
  float: block;
}
nav .logo{
  padding: 2px 2px;
  height: 80px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  text-transform:none;
  color:  #135313;
  margin-top: 30px;
}

nav ul .menu{
  list-style: none;
  float:right;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 12000px;
  float: block;
  left: 22px;


  
}
nav ul li a{
  line-height: 70px;
  color: #135313;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  max-width: 12000px;
  left: 22px;

  

}
nav  ul  li a:hover{
  color: hsl(129, 30%, 53%);
  background: rgba(0,0,0,0,7);
  border-radius: 5px;
  max-width: 12000px;

}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block;
}
.fa-user{
  font-size: 30px;
  padding: 20px;
 
}
.fa-bell{
  font-size: 25px;
}

.menu { 
  display: flex; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  margin-top: 95px;
} 
            
                  /* أضف هذا الكود لتحديد لون زر "Find out more" */
       
.p{
color: #065906; font-size: 30px; text-align: center; color: hsl(120, 90%, 16%); font-size: 40px;
}

@keyframes bell {
  0% { transform: rotate(0); }
  10% { transform: rotate(30deg); }
  20% { transform: rotate(0); }
  80% { transform: rotate(0); }
  90% { transform: rotate(-30deg); }
  100% { transform: rotate(0); }
}
@keyframes rad {
  0% { transform: translateX(0); }
  10% { transform: translateX(6px); }
  20% { transform: translateX(0); }
  80% { transform: translateX(0); }
  90% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}
@keyframes zoom {
  0% { opacity: 0; transform: scale(0); }
  10% { opacity: 1; transform: scale(1); }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes moon-moving {
  0% {
    transform: translate(-200%, 600%);
  }
  100% {
    transform: translate(800%, -200%);
  }
}
      
:root {
    --black: #525252;
    --orange: #FFB000;
    --white: #F7FBFC;
    --grey: #C2C2C2;
    --green: #0a570a; 
  }
  
  
  #main {
    width: 41.875rem;
    height: 18.4375rem;
    background-color: var(--green);
    font-family: 'Questrial', sans-serif;
    position: relative;
    z-index: 4;
top: 250px;
left: 400px;
  }
  .product-container {
    width: 21.25rem;
    height: 17.1875rem;
    background-color: var(--orange);
    position: relative;
    top: -2.7rem;
    left: -4.4rem;
    overflow: hidden;
    & h2 {
      color: rgb(0, 0, 0);
      font-size: 2.5rem;
      text-align: center;
      margin-top: .5rem;
    }
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .card {
    width: 17.5rem;
    height: 11rem;
    background-color: var(--white);
    border-radius: .7rem;
    padding: 1.3rem 1.6rem;
    position: absolute;
    top: -2.75rem;
    right: 4.4rem;
    &:after {
      content: '';
      display: block;
      width: 17.5rem;
      height: 11rem;
      background-color: #0a570a;
      border-radius: .7rem;
      position: absolute;
      top: 2.7rem;
      right: -1.5rem;
      transform: rotate(8deg);
      z-index: -1;
    }
  }
  .chip {
    width: 3rem;
    height: 2.2rem;
    margin-bottom: .7rem;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & label {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: .55rem;
      color: #C2C2C2;
      margin-top: .35rem;
    }
    & label[for=name] {
      width: 72%;
    }
    & label[for=date] {
      width: 22%;
      margin-left: 6%;
    }
    & label[for=cvc] {
      width: 15%;
      position: absolute;
      right: 7%;
      bottom: -3.9rem;
    }
    & label[for=remember] {
      width: auto;
      height: 2.8rem;
      font-size: .7rem;
      position: absolute;
      left: -4.5rem;
      bottom: -10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      & input {
        margin-right: .5rem;
        filter: invert(100%) hue-rotate(30deg) brightness(1.7);
        color: red;
        height: 1rem;
        width: 1rem;
      }
    }
    & input {
      border: none;
      border-bottom: 1px solid var(--grey);
      outline: none;
      background-color: transparent;
      font-size: 1.1rem;
      padding: .2rem  0;
      &#cvc {
        color: rgb(0, 0, 0);
      }
    }
    & button {
      height: 2.8rem;
      width: 11.8rem;
      font-size: .8rem;
      position: absolute;
      bottom: -10rem;
      left: 6rem;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & .fa-angle-right {
        color: #0c522a;
        font-size: 2rem;
        position: absolute;
        left: 72%;
        top: 5px;
      }
    }
  }
  .price-container {
    position: absolute;
    bottom: .6rem;
    left: 3.4rem;
    display: inline-block;
    & strong {
      font-size: 2.2rem;
      color: white;
    }
    & small {
      font-size: 0.6rem;
      color: var(--grey);
    }
  }
  
