
*{
    direction: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
    max-width: 12000px;

}
.main {
    width: 80%; /* تعيين عرض العنصر */
    margin-left: auto; /* جعل الهامش الأيمن تلقائي */
    margin-right: auto; /* جعل الهامش الأيسر تلقائي */
}
body{
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

   
     
}

a{

    color: #0a430a;
}

.container {
        width: 80%;
        margin: 0 auto;
        display: flex;
}
.card{
    height: 500px;
    margin: 20px;
    box-shadow: 5px 5px 20px #FFF;
    overflow: hidden;
  
    

}
img{
    height: 500px;
    width: 350px;
    border-radius: 2px;
    transition: .5s;

}
.intro{
    height: 50px;
    width: 350px;
    padding: 10px;
    box-sizing:border-box;
    position: absolute;
    bottom: 305px;;
    background: white;
    color: #306754;
}
h1{
    margin: 5px;
    font-size: 20px;
    font-family: 'Times New Roman';
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;

}
.card:hover .intro{
    height: 50px;
    bottom: 305px;
    background: #306754;
    color: white;
}
.card:hover{
    cursor: pointer;

}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* تأثير الظل */
}
.card {
    border: 1px solid rgb(7, 80, 7); /* إطار بلون أخضر داكن */
}
.card .intro a {
    text-decoration: none; /* إزالة التسطير من تحت النص */
}
.card .intro {
    text-align: center; /* توسيط النص داخل البوكسات */
}
