.footer { 
    background-color: rgb(243, 243, 243); 
    width: 100%; 
    padding: 10px 0; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
} 
 
.footer-icons { 
    text-align: center; 
    color: #065906; 
} 
 
.footer-icons a { 
    margin: 0 10px; 
    color: #065906; 
} 
 
.footer-icons i { 
    font-size: 40px; 

    color: rgb(10, 88, 44); /* لون الأيقونات */ 
    padding: 10px; 
    border-radius: 50%; 
    
}
