*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}
.main{
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
  
}

body{
    margin: 0;
  
   
     
}

nav  {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 80PX;
    padding: 0.5px 0.5px;
    box-sizing: border-box;
    background:rgba(rgb);
    border-bottom: 1px solid #e0ede2;
}
nav .logo{
    padding: 2px 2px;
    height: 80px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-transform:none;
    color:  #135313;
}

nav ul .menu{
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li a{
    line-height: 70px;
    color: #135313;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    

}
nav  ul  li a:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
    border-radius: 5px;
}
.fa-plus {
    font-size: 30px;
    margin: 0 10px;
    color:rgb(7, 80, 7);
    margin-left: 400px;
  }
  .fa-user{
    font-size: 25px;
}
.fa-bell{
    font-size: 25px;
}
.line {
  border-bottom: 2px solid green; /* سمك ولون الخط */
  width: 50%; /* عرض الخط (يمكن تعديله حسب الحاجة) */
  margin-top: 12px;
  position: fixed;
  margin-left: 400px;
}
table {
border-collapse: collapse;
width: 50%; /* عرض الجدول (يمكن تعديله حسب الحاجة) */
margin: 20px; /* المسافة من الأطراف */
position: fixed;
margin-left: 400px;

}
th, td {
padding: 15px;
text-align: center;
}

th {
background-color:rgb(7, 80, 7); /* لون الخلفية للعناصر العنوانية (Header) */
color: white;
border-color: beige; /* لون النص للعناصر العنوانية */
}

tr:nth-child(even) {
background-color: #f2f2f2;
border-color: rgb(193, 193, 179); /* لون الخلفية للصفوف الزوجية */
}
.fa-trash{
color:rgb(7, 80, 7) ;
} 
.fa-pencil{
color:rgb(7, 80, 7) ;

} .fa-plus {
font-size: 30px;
margin: 0 10px;
color:rgb(7, 80, 7);
margin-left: 400px;
}

