*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}
.main{
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
  
}


body{
    margin: 0;
    padding: 0;
   

     
}

nav  {
    background-color: #ffffff; /* تغيير لون خلفية القائمة إلى الأبيض */
    position: fixed;
    top: 2%;
    left: 0;
    width: 100%;
    height: 79px;
    padding: 0.5px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0ede2;
    max-width: 12000px;
    display: flex;
    
    align-items: center;
    z-index: 1000;
    
}
nav .logo{
    padding: 2px 2px;
    height: 80px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-transform:none;
    color:  #135313;
   
}
.logo img {
    width: 65px;
    height: 65px;
   
  }

nav ul .menu{
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li a{
    line-height: 70px;
    color: #135313;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    

}
nav  ul  li a:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
    border-radius: 5px;
}



a{

    color: #135313;
}
.text{
   text-align: center;
    color: #135313;
    font-family: 'Times New Roman';
    font-size: 24px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 2px;
    border-radius: 20px; /* زيادة قيمة border-radius لجعل الحواف أكثر دائرية */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    .dropdown-content a {
    font-size: 14px; /* حجم النص */
    color: black;
    padding: 6px 16px; /* تباعد داخلي - تقليل التباعد الأفقي بشكل إضافي */
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {
    background-color: #f1f1f1;
    }
    .circle-outline{
      font-size: 25px;
    }
    .person-circle-outline{
      font-size: 25px;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    }
