
.header{
    background-color:white;
}
.tourist{
    background-color: beige;
    width: 100%;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 90px;
        margin-bottom: 5px;
    }
    .text{
        float: left;
        text-align: left;
        direction: ltr;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
    }
    .t1{
        margin-top: 25px;
        margin-bottom: auto;
        margin-left: 200px;
        font-size: 45px;
        font-weight: bold;
        color: black;
    }
    .t2{
        margin-top: 42px;
        margin-left: 13px;
        margin-bottom: auto;
        font-size: 28px;
        color: black;
    }
    .t3{
        margin-top: 25px;
        margin-left: 3px;
        margin-bottom: auto;
        font-size: 45px;
        color: rgb(12, 80, 15);
    }
    .t4{
        float: left;
        text-align: left;
        direction: ltr;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 35px;
        margin-left: 203px;
        font-size: 17px;
        color: black;
    }
.trip{
    background-color: rgb(17, 65, 18);
    width: 1260px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: rgb(9, 58, 12);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.tripback1{
    /* background-image: url(img/tt1.png); */
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 260px;
}
.trip1{
    width: 240px;
    height: 54px;
    background-color: white;
    color: rgb(14, 66, 16);
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    text-align: left;
    padding-left: 20px;
    border-radius: 0%;
    margin-top: 280px;
    line-height: 53px;
    margin-left: 20px;
}
.tripback2{
    /* background-image: url(img/tt2.png); */
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
}
.trip2{
    width: 240px;
    height: 54px;
    background-color: white;
    color: rgb(14, 66, 16);
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    text-align: left;
    padding-left: 20px;
    border-radius: 0%;
    margin-top: 280px;
    line-height: 53px;
    margin-left: 30px;
}
.tt{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    color: brown;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    cursor: pointer;

}
a{
    color: brown;
    text-decoration: none;
    transform: transform 0.3s ease;
}
a:hover{
    transform: scale(2.0);
    color: #135313;
}
