@charset "utf-8";
.main{
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
}
.header{
    background-color:white;
}
.message{
    width: auto;
    height: 70px;
    border: 1px solid black;
    padding-left: 200px;
    background-color: #154b158a;
    color: black;
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 10px;
}