
.fa-user{
    font-size: 25px;
}
.fa-bell{
    font-size: 25px;
}
.fa-user{
    font-size: 25px;
}
.fa-bell{
    font-size: 25px;
}
a{
    color: #135313;
}
.header{
    background-color:white;
}
.message{
    width:100%;
    height: 70px;
    border: 1px solid black;
    padding-left: 200px;
    background-color: #627d61;
    color: black;
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 70px;
}

#evaluation {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#stars {
  display: inline-block;
}

.star {
  cursor: pointer;
}

textarea {
  width: 100%;
  margin-top: 40px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
