
.main{
  width: 100%;
  background: linear-gradient( to top,rgba(255, 255, 255, 0.951));
  background-position: center;
  background-size: cover;

}

body{
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.126);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;



}
.fa-user{
  font-size: 25px;
}
.fa-bell{
  font-size: 25px;
}
.fa-user{
  font-size: 25px;
}
.fa-bell{
  font-size: 25px;
}

nav  {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 75PX;
  padding: 0.5px 0.5px;
  box-sizing: border-box;
  background:rgba(rgb);
  border-bottom: 1px solid #e0ede2;
}
nav .logo{
  padding: 2px 2px;
  height: 50px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  text-transform:none;
  color:  #135313;
  top: 7px;
}

nav ul .menu{
  list-style: none;
  float:right;
  margin: 0;
  padding: 0;
  display: flex;

}
nav ul li a{
  line-height: 45px;
  color: #135313;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;


}
nav  ul  li a:hover{
  color: hsl(129, 30%, 53%);
  background: rgba(0,0,0,0,7);
  border-radius: 5px;
}



a{

  color: #0a430a;
}

.container{
  display: flex;
}
.card{
  height: 550px;
  margin: 50px;
  box-shadow: 5px 5px 20px #053b05;
  overflow: hidden;


}
img{
  height: 600px;
  width: 350px;
  border-radius: 2px;
  transition: .5s;

}
.intro{
  height: 80px;
  width: 360px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 240px;;
  transition: .5s;
  background: hwb(120 9% 66%);
  color: rgb(255, 255, 255);
}
h1{
  margin: 10px;
  font-size: 25px;
  font-family: 'Times New Roman';
}
p{
  font-size: 20px;
  margin: 20px;
  visibility: hidden;
  font-family: 'Times New Roman';
  opacity: 0;
}
span{
  font-weight: bold;
}
.card:hover{
  cursor: pointer;

}
.card:hover .intro{
  height: 220px;
bottom: 240px;
background: #053b05;


}
.card:hover p{
  opacity: 1;
  visibility: visible;
}
.card:hover img{
  transform: scale(1.1) rotate(-3deg);
}





footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

  }
    div.social-media-links {
          background:   #f3f0f0;
          overflow: hidden;
          padding-bottom: 4px;
          text-align: center;
          ul {
              margin: 0;
              padding: 0;
          }
          li {
              display: inline;
              margin: 0;
              padding: 0;
          }
          a {
              border-bottom: 0px solid rgba(0,0,0,0.95);
              border-radius: 4px;
              box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
              display: inline-block;
        height: 60px;
              padding: 20px;
              position: relative;
              transition: .2s ease-in;
        width: 30px;

              svg {
          left: 20px;
          position: absolute;
          top: 20px;
                  height: 30px;
                  width: 30px;
          &.glow {
            path, circle {
              fill: rgba(0,0,0,0);
            }
          }
                  path, circle {
                      fill: #0c661b;
                      transition: .2s ease-in;
                  }
              }
          }
          a:hover {
              transform: translateY(-4px);
              box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout( #ff4927, 75), 0 83px 4px 0px fadeout( #ff4927, 5);
              svg {
          &.glow {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
            filter: blur(2px);
            path, circle {
              fill: fadeout( #ffffff, 40);
            }
          }
                  path, circle {
                      fill: #0c661b;
                  }
              }
          }





    }


