*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
    max-width: 12000px;
  
  }
  .main{
    width: 100%;
    background: linear-gradient( to top,rgba(17, 70, 20, 0.5));
    background-position: center;
    background-size: cover;
  
  }
  
  body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
   
     
  }
  
  nav  {
    position: fixed;
    top: -22px;
    left: 0;
    width: 95%;
    height: 80PX;
    padding: 0.5px 0.5px;
    box-sizing: border-box;
    background:rgba(rgb);
    border-bottom: 1px solid #e0ede2;
    max-width: 12000px;
    float: block;
  }
  nav .logo{
    padding: 2px 2px;
    height: 80px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-transform:none;
    color:  #135313;
    margin-top: 25px;
  }
  
  nav ul .menu{
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 12000px;
    float: block;
  
  
    
  }
  nav ul li a{
    line-height: 70px;
    color: #135313;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    max-width: 12000px;
  
   
  
  }
  nav  ul  li a:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
    border-radius: 5px;
    max-width: 12000px;
  
  }
  ul li ul li{
    display: none;
  }
  ul li:hover ul li{
    display: block;
  }
  .fa-user{
    font-size: 30px;
    padding: 20px;
   
  }
  .fa-bell{
    font-size: 25px;
  }
  nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: none; /* Remove default border */ 
  } 
  
  .menu { 
    display: flex; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-top: 95px;
  } 
  
                 /* أضف هذا الكود لتحديد لون زر "Find out more" */
         
  .p{
  color: #065906; font-size: 30px; text-align: center; color: hsl(120, 90%, 16%); font-size: 40px;
  }

  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes rad {
    0% { transform: translateX(0); }
    10% { transform: translateX(6px); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }
  @keyframes zoom {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 1; transform: scale(1); }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes moon-moving {
    0% {
      transform: translate(-200%, 600%);
    }
    100% {
      transform: translate(800%, -200%);
    }
  }
.fa-bell{
    font-size: 25px;
}

.content-all{
    width: 377px;
    perspective: 1000px;
    position: relative;
    margin: auto;
    }
    .content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    }
    .content-carrousel figure{
    width: 100%;
    height: 100%;
    position: absolute;
    }
    .content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);}
    .content-carrousel figure:nth-child(2){
    transform: rotateY(72deg) translateZ(300px);}
    .content-carrousel figure:nth-child(3){
    transform: rotateY(144deg) translateZ(300px);}
    .content-carrousel figure:nth-child(4){
    transform: rotateY(216deg) translateZ(300px);}
    .content-carrousel figure:nth-child(5){
    transform: rotateY(288deg) translateZ(300px);}
    .content-carrousel figure:nth-child(6){
    transform: rotateY(360deg) translateZ(300px);}
    .content-carrousel img{
    width: 100%;
    }
    .content-carrousel img{
    width: 100%;
    transition: all 300ms;
    }
    .content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
    }
    .content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
    }
    @keyframes rotar {
    from{
    transform: rotateY(0deg);
    }to{
    transform: rotateY(360deg);
    }
    }
    .right-buttom{ 
    
    
        font-family: 'Times New Roman';
       
       
        background-color: #008000;
        color: #fff;
        padding: 10px 20px;
        width: 100px;
        height: 50px;
        background-color: rgb(14, 83, 25);
        color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
        text-shadow: 1px 1px 1px rgba(7, 69, 41, 0.5);
        padding: 10px;
        margin-left: 50px;
      }
     
        
      
