

 
 
nav  { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 95%; 
    height: 80PX; 
    padding: 0.5px 0.5px; 
    box-sizing: border-box; 
    background:rgba(rgb); 
    border-bottom: 1px solid #e0ede2; 
} 
nav .logo{ 
    padding: 2px 2px; 
    height: 80px; 
    float: left; 
    font-size: 15px; 
    font-weight: bold; 
    text-transform:none; 
    color:  #135313; 
} 
 
nav ul .menu{ 
    list-style: none; 
    float:right; 
    margin: 0; 
    padding: 0; 
    display: flex; 
     
} 
nav ul li a{ 
    line-height: 70px; 
    color: #135313; 
    padding: 25px 30px; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold; 
    text-transform: none; 
     
 
} 


.message{ 
     
    width: 300px; 
    height: 70px; 
    border: 1px solid black; 
    padding-left: 175px; 
    background-color: #0d520f; 
    color: rgb(255, 255, 255); 
    margin-top: 150px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 30px; 
    line-height: 70px; 
    margin-left: 500px; 
    text-align: left; 
    border-radius: 8px; 
  
 
} 
 
table { 
    width: 40%; 
    border-collapse: collapse; 
    border-radius: 10px; 
overflow: scroll; 
    margin: 20px auto; 
    border-collapse: collapse; 
    border: 2px solid #1f4b2e; 
    margin-left: 450px; 
    border-style: double; 
   
    
     /* اللون الأخضر */ 
} 
th, td { 
    padding: 15px; 
    text-align: left; 
    border-bottom: 0.5px solid #e8ece8;  
     
    /* اللون الأبيض */ 
} 
td{ 
    height: 50px; 
    text-align: center; 
    
} 
select{ 
    height: 30px; 
    width: 170px;  
    justify-content: center; 
     align-items: center;  
     font-family: 'Times New Roman'; 
     text-align: center; 
     font-size: 15px; 
     color:#0c4e09; 
      
 
} 
input{ 
    size: 50px; 
    width: 170px; 
    height: 30px; 
    font-size: 15px; 
     color:#0c4e09; 
    
} 
th { 
    background-color: #ffffff; 
    color: #11710e; 
    font-family: 'Times New Roman'; 
    font-size: 20px; /* لون النص أبيض */ 
} 
tr:hover { 
    background-color: #f8f8f8; 
    color: #f4f4f4; 
    font-family: 'Times New Roman'; 
    font-size: 20px;  
     /* لون الخلفية الفاتح عند التحويم */ 
} 
input[type="submit"] { 
    background-color: #0d5f2f; 
    color: #fff; 
    size: 40px; 
    padding: 10px 40px; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    height: 30px; 
    
} 
input[type="time"] { 
    width: 170px; 
    height: 30px; 
} 
input[type="file"] { 
    border: 2px  #124f0a; 
    border-color: #0d520f; 
    width: 200px; 
    padding: 5px; 
    
} 
button { 
      
     
     
    font-family: 'Times New Roman'; 
    
    
    background-color: #008000; 
    color: #fff; 
   margin-right: 10px; 
   font-size: 20px; 
    width: 200px; 
    height: 50px; 
    background-color: rgb(14, 83, 25); 
    color: white; 
    border: none; 
    border-radius: 10px; 
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3); 
    text-shadow: 1px 1px 1px rgba(7, 69, 41, 0.5); 
    padding: 10px; 
    margin-left: 650px; 
   border-style: double; 
  } 
  .right-buttom{ 
    float: right; 
  } 
 
button:hover { 
    background-color: #177a21; 
}
  

.btn-success {
    background-color: #0d5f2f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color:  #008000;
}

/* Adjusting the width of the file input */
input[type="file"] {
    width: calc(100% - 100px); /* Subtracting the width of the button */
}
