
.header{
    background-color:white;
}
.message{
    width: 1240px;
    height: 90px;
    padding-left: 200px;
    background-color: #f7f6f2;
    color: green;
    margin-top: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 70px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    position: absolute;
   left: 150px;
   width: 500px;
   height: 200px;
}


form {
    background-color: #ffffff; /* لون أخضر */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: left;
   
}

label {
    display: block;
    margin-bottom: 8px;
    color: #126215; /* لون أبيض */
    border-color: #0d520f;
   
   
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #0f0000;
    border-radius: 4px;
    border-color: #0d520f;
    
   
}

input[type="submit"] {
    background-color: white; /* لون أبيض */
    border: green;
    color: #0a3c0c; /* لون أخضر */
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    border-color: green;
}

input[type="submit"]:hover {
    background-color: #386b39; /* لون رمادي فاتح عند التحويل */
    border-color: white;
}
