body {
    background: #13531386;
}

.form-control:focus {
    box-shadow: none;
    border-color: #135313;
}

.profile-button {
    background: #135313;
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #135313;
}

.profile-button:focus {
    background: #135313;
    box-shadow: none;
}

.profile-button:active {
    background: #135313;
    box-shadow: none;
}

.back:hover {
    color: #135313;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #1d7b1d;
    color: #fff;
    cursor: pointer;
    border: solid 1px #1d7b1d;
}