
table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
    background-color: #f9f9f9;
}
.message{
    width: 1240px;
    height: 90px;
    padding-left: 400px;
    color: black;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 70px;
}
.line {
  border-bottom: 1px solid black; /* سمك ولون الخط */
  width: 50%; /* عرض الخط (يمكن تعديله حسب الحاجة) */
  margin-top: 2px;
  position: fixed;
  margin-left: 400px;
}
table {
border-collapse: black;
width: 50%; /* عرض الجدول (يمكن تعديله حسب الحاجة) */
margin: 20px; /* المسافة من الأطراف */
position: fixed;
margin-left: 400px;

}

th, td {
padding: 15px;
text-align: center;
}

th {
background-color:rgb(7, 80, 7); /* لون الخلفية للعناصر العنوانية (Header) */
color: white;
border-color: beige; /* لون النص للعناصر العنوانية */
}

tr:nth-child(even) {
background-color: white;
border-color: rgb(193, 193, 179); /* لون الخلفية للصفوف الزوجية */
}
.fa-trash{
color:rgb(7, 80, 7) ;
}
.fa-pencil{
color:rgb(7, 80, 7) ;

.fa-thin fa-star{
color:rgb(7, 80, 7) ;

}

