
.wrapper.active .content { 
    display: block; 
} 
 
.header{ 
    background-color:white; 
    display: flex; justify-content: center; align-items: center;  
} 
.message{ 
     
    width: 545px; 
    height: 45px; 
    border: 1px solid black; 
    background-color: #0d520f; 
    color: rgb(255, 255, 255);  
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    line-height: 45px;
    margin-left: 460px;
    margin-top: 120px;
    text-align: center; 
    border-radius: 8px; 
 
} 
 
table { 
    width: 40%; 
    border-collapse: collapse; 
    border-radius: 15px; 
overflow: scroll; 
    margin: 20px auto; 
    border-collapse: collapse; 
    border: 2px solid #1f4b2e; 
    margin-left: 440px; 
} 
th, td { 
    padding: 15px; 
    text-align: left; 
    border-bottom: 0.5px solid #e8ece8;  
     
    /* اللون الأبيض */ 
} 
td{ 
    height: 50px; 
    text-align: center; 
    
} 
select{ 
    height: 30px; 
    width: 170px;  
    justify-content: center; 
     align-items: center;  
     font-family: 'Times New Roman'; 
     text-align: center; 
     font-size: 15px; 
     color:#0c4e09; 
      
 
} 
input{ 
    size: 50px; 
    width: 170px; 
    height: 30px; 
    font-size: 15px; 
     color:#0c4e09; 
    
} 
th { 
    background-color: #ffffff; 
    color: #11710e; 
    font-family: 'Times New Roman'; 
    font-size: 20px; /* لون النص أبيض */ 
} 
tr:hover { 
    background-color: #f8f8f8; 
    color: #f4f4f4; 
    font-family: 'Times New Roman'; 
    font-size: 20px;  
     /* لون الخلفية الفاتح عند التحويم */ 
} 
button { 
      
     
     
    font-family: 'Times New Roman'; 
    
    
    background-color: #008000; 
    color: #fff; 
   margin-right: 10px; 
   font-size: 17px; 
    width: 150px; 
    height: 37px; 
    line-height: 40px;
    background-color: rgb(14, 83, 25); 
    color: white; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3); 
    text-shadow: 1px 1px 1px rgba(7, 69, 41, 0.5); 
 text-align: center;
    margin-left: 580px; 
    cursor: pointer;
    margin-bottom: 30px;
  } 
  .right-buttom{ 
    float: right; 
  } 
 
button:hover { 
    background-color: #177a21; 
}
*{  
    margin: 0;  
    padding: 0;  
    font-family: 'Times New Roman';  
    box-sizing: border-box;  
}  

.btn-success {
    background-color: #0d5f2f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color:  #008000;
}

/* Adjusting the width of the file input */
input[type="file"] {
    width: calc(100% - 100px); /* Subtracting the width of the button */
}
input[type=text]{
    padding-left: 37px;
    padding-right: 51px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 16px;
}
