
a{

    color: #135313;
}
body{
    font-family: 'poppins', sans-serif;
    background-color:#135313;
}

.first_col{
    background-color: #ffff;
    height: 630px;
   position: relative;
   width: 550px; 
   left: 155px;
   top: 171px;
   border-radius: 20px;
}
.img-fluid{
    border-radius: 20px;
}
.btn-primary{
    background-color: #135313;
    border: #135313;
    border-radius: 2px;
    justify-items: center;
    margin-left: 200px;
    width: 70px;
    
}
.btn-primary:hover {
    background-color: #135313;
    
}
.btn:hover {
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
}
.form-control{
    height: 52px;
    background-color: #ffff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border: 1px solid  #064e18;
   

}
.form-control[type=text]:focus{
    border: 2px solid #135313 ;
}
@media only screen and(max-width:600px) {
    .first_col{
        position: initial;
        left: 0;
    }
    
}
.text-center{
    color: #135313;
}


.upload-btn1-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn1 {
    border: 2px solid  #135313;
    background-color: #135313;
    border: #135313;
    padding: 8px 20px;
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 375px;
  }
  .btn1:hover {
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
}
  
  .upload-btn1-wrapper input[type=file] {
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
