



a{

    color: #135313;
}
.wrapper{
    width: 215px;
   height: 150px;
    padding: 5px;
margin-left: 45px;



}

.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn{
    height: 35px;
    font-size: 20px;
    padding: 0 22px;
    border-radius: 7px;
    background-color: #fff;
    border:1px solid #135313;
    justify-content: space-between;
    
}
.select-btn i{
    font-size: 20px;
    transition: transform 0.3s linear;

}
.wrapper.active .select-btn i {
   transform: rotate(-180deg);
}
.content{
    display: none;
    margin-top: 15px;
    padding: 20px  ;
    border-radius: 7px;
    background-color: #135313;
    border:1px solid #135313;
    


}
.wrapper.active .content {
    display: block;
}
.content .search{
    position: relative;
}
.search i{
    left: 15px;
    color: #135313;
    font-size: 15px;
    line-height: 35px;
    position: absolute;
}
.search input{
    height: 35px;
    width: 100%;
    font-size: 17px;
    padding: 0 15px 0 30px;
    border-radius: 5px;
    border: 1px solid #135313;
}
.content .options{
    margin-top: 10px;
    max-height: 150px;
    overflow-y: scroll;
    padding-right:7px  ;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background-color: #135313;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background-color: #135313;
    border-radius: 25px;
}
.options li{
    height: 30px;
    padding: 0 13px ;
    font-size: 21px;
    border-radius: 5px;
    background-color: #135313;
  
}
.options li:hover,li.selected{
    color: hsl(129, 30%, 53%);

}
body {
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}
.card {
    width: 320px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
    margin: 30px ; 
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 400px;
    height: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-content {
    padding: 20px;
    height:400px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #135313;
    justify-items: center;

}
.card-content h4 {
    justify-items: center;
    margin-left: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #135313;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    justify-items: center;
    margin-left: 80px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
}
.ss{
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

