
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}
.main{
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
  
}




a{

    color: #135313;
}
.text{
   text-align: center;
    color: #135313;
    font-family: 'Times New Roman';
    font-size: 24px;
}
body {
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.card {
    width: 320px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease;
    margin: 30px ; 
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 400px;
    height: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-content {
    padding: 20px;
    height:500px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #135313;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #135313;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
}
.ss{
    display: flex;
    border-radius: 15px;
    justify-content: center;
}
.aa{
    display: flex;
    justify-content: center;
}

table{
    width: 30%;
    align-items: center;
    margin: auto;
    border-spacing: 0;
}
th{
    height: 40px;
    background-color: #ffff;

}
td{
    background-color:#135313 ;
    text-align: center;
    color: #ffff;
    font-size: larger;
    height: 80px;
   
   

}
.BO {
    border: 1px solid #135313;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    color: #ffff;
    background: #104610;
    border-radius: 5px ;
    transition: all 0.8s;
    position: relative;
    overflow: hidden;


}
.BO:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
    border-radius: 5px;
}
.BO::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #135313 ;
    z-index: -1;
    transition: 0.8s;

}


.btu:hover ::before{
   height: 180%; 
}
.h2{
    font-family: 'Times New Roman';

}
