@charset "utf-8";
.main{
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
}
a{
    color: #135313;
}
.header{
    background-color:white;
}
.tourist{
    background-color: beige;
    width: 100%;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 90px;
        margin-bottom: 5px;
    }
    .text{
        display: flex;
        direction: ltr;
        font-family: 'Times New Roman', Times, serif;
    }
    .t1{
        margin-left: 480px;
        margin-top: 25px;
        font-size: 45px;
        color: #135313;
    }
    .t2{
        margin-left: 10px;
        margin-top: 25px;
        font-size: 45px;
        font-weight: bold;
        color: #135313;
    }
    .sea1{
        margin-left: 530px;
        margin-top: 25px;
        font-size: 45px;
        color: #135313;
    }
    .sea2{
        margin-left: 10px;
        margin-top: 25px;
        font-size: 45px;
        font-weight: bold;
        color: #135313;
    }
    .search-input{
        border: 1px solid black;
        margin-left: 130px;
        margin-top: 40px;
        padding: 10px 30px;
    }
    .search-b{
        border: none;
        border-radius: 3px;
        background-color: #135313;
        color: white;
        padding: 11px;
        margin-left: 10px;
        cursor: pointer;
    }
    .trip{
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 21px;
        text-align: left;
    }
    .tripback1{
        /* background-image: url(img/e1.jpg); */
        background-repeat: no-repeat;
        background-size: 360px 340px;
        margin-top: 50px;
        margin-left: 130px;
    }
    .trip1{
        width: 240px;
        border: none;
        background-color: white;
        padding: 30px;
        margin-top: 80px;
        margin-left: 270px;
    }
    .b1{
        padding: 10px 58px;
        font-size: 18px;
        color:  white;
        border: 1px solid #135313;
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        margin-left: 0px;
        background-color: #135313;
    }
    .b1:hover{
        background-color: #177a21;
    }
    .tripback2{
        /* background-image: url(img/e2.jpg); */
        background-repeat: no-repeat;
        background-size: 360px 340px;
        margin-top: 50px;
        margin-left: 150px;
    }
    .trip2{
        width: 270px;
        border: none;
        background-color: white;
        padding: 30px;
        margin-top: 80px;
        margin-left: 230px;
    }
    .b2{
        padding: 10px 58px;
        font-size: 18px;
        color: white;
        border: 1px solid #135313;
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        margin-left: 0px;
        background-color: #135313;
    }
    .b2:hover{
        background-color: #177a21;
    }
    .tripback3{
        /* background-image: url(img/e3.jpg); */
        background-repeat: no-repeat;
        background-size: 360px 340px;
        margin-top: 50px;
        margin-left: 130px;
    }
    .trip3{
        width: 240px;
        border: none;
        background-color: white;
        padding: 30px;
        margin-top: 80px;
        margin-left: 270px;
    }
    .b3{
        padding: 10px 58px;
        font-size: 18px;
        color: white;
        border: 1px solid #135313;
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        margin-left: 0px;
        background-color: #135313;
    }
    .b3:hover{
        background-color: #177a21;
    }
    .tripback4{
        /* background-image: url(img/e4.jpg); */
        background-repeat: no-repeat;
        background-size: 360px 340px;
        margin-top: 50px;
        margin-left: 150px;
    }
    .trip4{
        width: 260px;
        border: none;
        background-color: white;
        padding: 30px;
        margin-top: 80px;
        margin-left: 230px;
    }
    .b4{
        padding: 10px 58px;
        font-size: 18px;
        color: white;
        border: 1px solid #135313;
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        margin-left: 0px;
        background-color: #135313;
    }
    .b4:hover{
        background-color: #177a21;
    }
    .tripback5{
        /* background-image: url(img/e5.jpg); */
        background-repeat: no-repeat;
        background-size: 360px 340px;
        margin-top: 50px;
        margin-left: 130px;
    }
    .trip5{
        width: 270px;
        border: none;
        background-color: white;
        padding: 30px;
        margin-top: 80px;
        margin-left: 270px;
    }
    .b5{
        padding: 10px 58px;
        font-size: 18px;
        color: white;
        border: 1px solid #135313;
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        margin-left: 0px;
        background-color: #135313;
    }
    .b5:hover{
        background-color: #177a21;
    }
    a{
        text-decoration: none;
    }
select{
width: 240px;
height: 30px;
margin-left: 130px;
margin-top: 30px;
color: #0f430f;
font-size: 15px;
border-radius: 2px;
padding-left: 20px;
}
.tripback1t2{
    /* background-image: url(img/c1.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback2t2{
    /* background-image: url(img/c2.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback3t2{
    /* background-image: url(img/c3.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback4t2{
    /* background-image: url(img/c4.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback1t3{
    /* background-image: url(img/r5.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback2t3{
    /* background-image: url(img/r1.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback3t3{
    /* background-image: url(img/r2.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback4t3{
    /* background-image: url(img/r3.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback5t3{
    /* background-image: url(img/r4.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback1t4{
    /* background-image: url(img/s1.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback2t4{
    /* background-image: url(img/s2.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback3t4{
    /* background-image: url(img/s3.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback4t4{
    /* background-image: url(img/s4.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.trip3t4{
    width: 270px;
    border: none;
    background-color: white;
    padding: 30px;
    margin-top: 80px;
    margin-left: 270px;
}

.tripback1t5{
    /* background-image: url(img/ee1.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback2t5{
    /* background-image: url(img/ee2.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback3t5{
    /* background-image: url(img/ee3.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback4t5{
    /* background-image: url(img/ee4.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback1t6{
    /* background-image: url(img/m1.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback2t6{
    /* background-image: url(img/m2.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.tripback3t6{
    /* background-image: url(img/m3.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 130px;
}
.tripback4t6{
    /* background-image: url(img/m4.jpg); */
    background-repeat: no-repeat;
    background-size: 360px 340px;
    margin-top: 50px;
    margin-left: 150px;
}
.trip1t6{
    width: 260px;
    border: none;
    background-color: white;
    padding: 30px;
    margin-top: 80px;
    margin-left: 270px;
}
.trip2t6{
    width: 290px;
    border: none;
    background-color: white;
    padding: 30px;
    margin-top: 80px;
    margin-left: 230px;
}
