
p,h3 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
    font-family: 'Times New Roman';

}
h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #135313;
    font-weight: 700;
    font-family: 'Times New Roman';

    
}

h1 {
    font-weight: 900;
    font-family: 'Times New Roman';

}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Times New Roman';

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        font-family: 'Times New Roman';

    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        font-family: 'Times New Roman';

    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        font-family: 'Times New Roman';

    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        font-family: 'Times New Roman';

    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    font-family: 'Times New Roman';

    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    font-family: 'Times New Roman';

    max-width: 100%;

}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        font-family: 'Times New Roman';

        max-width: 50%;
    }
    
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        font-family: 'Times New Roman';

    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        font-family: 'Times New Roman';

    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
    font-family: 'Times New Roman';

}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #135313;
    font-family: 'Times New Roman';

}

.section-title h1 {
    color: #135313;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman';

}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
        font-family: 'Times New Roman';

    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
        font-family: 'Times New Roman';

    }
}
.vol-9 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
    font-family: 'Times New Roman';

}
.vol-9:hover {
    transform: rotateY(180deg);
    font-family: 'Times New Roman';

}
.vol-9 .vol-img {
    position: relative;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman';

}
.vol-9 .vol-img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-family: 'Times New Roman';

}
.vol-9 .vol-content {
    text-align: center;
    font-family: 'Times New Roman';

}
.vol-9 .vol-content h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-family: 'Times New Roman';

}
.vol-9 .vol-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Times New Roman';

}
.vol-9 .vol-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    font-family: 'Times New Roman';

    transform: rotateY(180deg);
}
.vol-9 .vol-overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    font-family: 'Times New Roman';

}
