
a{

    color: #135313;
}

 .ba{
   background-color:#ffff;
   max-width: 1200px;
   height: 90vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.text{
    display: inline-flex;
    color: #135313;
    padding-left: 50px;

}
.imea{
    height: 450;
    width: 450;

}

.te{
    color: #135313;
    align-items: center;
    padding: 100px 400px 100px 400px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    display: inline-flex;  
}



table{
    width: 70%;
    align-items: center;
    margin: auto;
    
}
th{
    height: 30px;

}
td{
    text-align: center;
        color: #135313;
   

}
.BO {
    border: 1px solid #135313;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    color: #135313;
    background: #ffff;
    border-radius: 5px ;
    transition: all 0.8s;
    position: relative;
    overflow: hidden;


}
.BO:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
}
.btu::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #135313 ;
    z-index: -1;
    transition: 0.8s;

}
.btu::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btu:hover::before{
   height: 180%; 
}
footer { 
    background-color: rgb(243, 243, 243); 
    width: 100%; 
    padding: 10px 0; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
} 
 
.footer-icons { 
    text-align: center; 
    color: #065906; 
} 
 
.footer-icons a { 
    margin: 0 10px; 
    color: #065906; 
} 
 
.footer-icons i { 
    font-size: 40px; 
    color: rgb(10, 88, 44); /* لون الأيقونات */ 
    padding: 10px; 
    border-radius: 50%; 
    
}