*{
    font-family: 'Times New Roman';
}
}
.dropdown ion-icon{
  font-size:50px;
  margin-top: 50px;
}
.menu{
margin: 0;
padding: 2;
font-family: 'Times New Roman';
box-sizing: border-box;
max-width: 12000px;

}
.main{
    width: 100%;
    background: linear-gradient( to top,rgba(255, 255, 255, 0.5));
    background-position: center;
    background-size: cover;
  
}

body, html {
height: 100vh;
margin: 0;
padding: 0;
}

nav {
    background-color: #ffffff;
    position: fixed;
    top: 10px; /* تقليل المسافة من الأعلى */
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px; /* تقليل التباعد من الأعلى */
    padding-bottom: 10px; /* تقليل التباعد من الأسفل */
    box-sizing: border-box;
    border-bottom: 1px solid #e0ede2;
    max-width: 12000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 850;
}

nav ul {
    list-style: none;
    margin-right: 40px; /* اقترح تقليل التباعد بين العناصر */
    position: relative;
}

nav ul li {
    margin-left: 15px; /* تقليل التباعد بين العناصر */
}

nav ul li a {
    line-height: 60px; /* زيادة ارتفاع السطر */
    color: #135313;
    text-decoration: none;
    font-size: 16px; /* اقترح تقليل حجم النص */
    font-weight: bold;
    text-transform: none;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    width: 45px;
    height: 45px;
}
custom-btn {
    background-color: #135313; /* لون أخضر داكن */
    color: #ffffff; /* لون أبيض للنص */
}
.custom-btn:active {
background-color: #ffffff; /* لون الخلفية الأبيض */
color: #135313; /* لون النص الأخضر */
}
body, html {
height: 100vh;
margin: 0;
padding: 0;
}
.slick-custom {
height: 100vh; /* أو أي ارتفاع ترغب فيه */
margin: 0; /* إزالة الهوامش */
padding: 0; /* إزالة الحواف الداخلية */

}.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
padding: 2px;
border-radius: 20px; /* زيادة قيمة border-radius لجعل الحواف أكثر دائرية */
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
 .dropdown-content a {
font-size: 14px; /* حجم النص */
color: black;
padding: 6px 16px; /* تباعد داخلي - تقليل التباعد الأفقي بشكل إضافي */
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
display: block;
}
footer {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}
 
.footer-icons {
    text-align: center;
    color: #065906;
}
 
.footer-icons a {
    margin: 0 10px;
    color: #065906;
}
 
.footer-icons i {
    font-size: 40px;
    color: rgb(10, 88, 44); /* لون الأيقونات */
    padding: 10px;
    border-radius: 50%;
    
}
.h{    font-family: 'Times New Roman';
}

.header{
    background-color:white;
}






























nav .logo{
    padding: 2px 2px;
    height: 80px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-transform:none;
    color:  #135313;
}

nav ul .menu{
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 12000px;


    
}
nav ul li a{
    line-height: 70px;
    color: #135313;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    max-width: 12000px;

    

}
nav  ul  li a:hover{
    color: hsl(129, 30%, 53%);
    background: rgba(0,0,0,0,7);
    border-radius: 5px;
    max-width: 12000px;
    max-height: 12000px;

}
.fa-user{
    font-size: 25px;
}
.fa-bell{
    font-size: 25px;
}
.p{
color: #065906; font-size: 30px; text-align: center; color: hsl(120, 90%, 16%); font-size: 40px;
}

#container {
 position: relative;
}

#img1 {
 top: 0;
 left: 0;
 width:1500px;
 high:980px;
}

#img2 {
 top: 0;
 left: 0;
 width:1500px;
 high:980px;
}

#img3 {
 top: 0;
 left: 0;
 width:1500px;
 high:980px;
}
#img4 {
 top: 0;
 left: 0;
 width:1500px;
 high:980px;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* خلفية سوداء بنسبة شفافية 70% */
    padding: 20px 40px; /* زيادة العرض إلى اليمين واليسار */
    color: #fff; /* لون النص أبيض */
    font-size: 20px; /* حجم الخط */
    text-align: center;
    max-width: 80%;
    z-index: 2; /* للتأكد من عرض النص فوق الصورة */
    display: flex; /* تحويل العنصر إلى عنصر مرن */
    align-items: center; /* وضع العناصر في المحور الرأسي في الوسط */
    justify-content: center; /* وضع العناصر في المحور الأفقي في الوسط */
}
.button-link {
    color: #fff; /* النص بالأسود افتراضيًا */
    background-color: #fff; /* الخلفية بالأبيض افتراضيًا */
    padding: 10px 20px; /* تباعد داخلي */
    border: 1px solid #135313; /* حدود سوداء */
    text-decoration: none; /* إزالة تزيين الرابط */
    background-clip: text; /* تمتد الخلفية داخل النص */
}

.button-link:hover,
.button-link:focus { /* عند النقر */
    color: #fff; /* النص بالأبيض */
    background-color: #fff; /* الخلفية بالأخضر */
}

